
<div id="search_table">
    <select multiple class="form-control" id="SearchInstitutionsForYear" name="SearchInstitutionsForYear">
        @{
            foreach (var item in ViewBag.Institution)
            {
                if (item.BriefName == null)
                {
                    <option value="@item.InstitutionId">@item.FullName</option>
                }
                else
                {
                    <option value="@item.InstitutionId">@item.BriefName</option>
                }

            }
        }
    </select>
</div>

<div id="years"></div>

<script type="text/javascript">

        $("#SearchInstitutionsForYear").change(function () {
            var Search = {
                Id: $("#SearchInstitutionsForYear option:selected").val(),
                Name: $("#SearchInstitutionsForYear option:selected").text(),
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadInstitutionYear", "Institution")',
                data: Search,
                success: function (msg) {
                    $('#search_table').empty();
                    $('#years').empty().html(msg);
                }
            });

        });










</script>
